{% extends "pos/base.html" %}
{% load url from future %}
{% load static %}

{% block auth_block %}{% endblock auth_block %}

{% block head %}
    <script>
        jQuery(function() {
            pos.user_login.set_password_reset_login_handler();
        });
    </script>
{% endblock head %}

{% block content %}

    <h2 class="landingheading">Your password is now reset</h2>
    <p>
        You may <a id="password_reset_login" href="#">Log In</a> immediately using your new password.
    </p>

{% endblock %}

{% block footer_js %}

{% endblock %}
