{% extends "pos/base.html" %}
{% load url from future %}

{% block auth_block %}{% endblock auth_block %}

{% block content %}

    <h2 class="landingheading">Password Reset</h2>
    <p>
        Provide us with your new password to reset your account.
    </p>
    <div class="content">
        <form method="post" action="">
            {% csrf_token %}

            <div class="form_as_p">
                {{ form.as_p }}
            </div>

            <div class="button_panel">
                <input class="primary" type="submit" value="Reset my password" />
            </div>
        </form>
    </div>

{% endblock %}
