{% extends "pos/base.html" %}
{% load url from future %}

{% block auth_block %}{% endblock auth_block %}

{% block content %}

    <h2 class="landingheading">Forgot your password?</h2>
    <p>
        Enter your email address below and we'll send you password reset instructions.
    </p>
    <div class="content">
        <form method="post" action="{% url 'auth_password_reset' %}">
            {% csrf_token %}

            <div class="form_as_p">
                {{ form.as_p }}
            </div>


            <div class="button_panel">
                <input class="primary" type="submit" value="Send me reset instructions" />
            </div>
        </form>
    </div>

{% endblock %}
