{% extends "pos/base.html" %}

{% load staticfiles %}


{% block head %}
    
{% endblock head %}


{% block content %}

	<!-- Area Container -->
	<div id = "home_container">

		<h2>Contact Us</h2>

		<table>
			<colgroup>
				<col span="1" style="width: 10%;">
				<col span="1" style="width: 90%;">
			</colgroup>	
			<tr>
				<td style="vertical-align:top;">
					<h3>Address:</h3>
				</td>
				<td style="padding-top:18px">
					Centre for the Built Environment and Health<br>
					School of Population Health<br> 
					University of Western Australia<br>
					Mailbag M707<br> 
					35 Stirling Highway<br> 
					Crawley 6009<br> 
					WESTERN AUSTRALIA 6009  
				</td>
			</tr>
			<tr>
				<td style="vertical-align:top;">
					<h3 style="vertical-align:top;">Email:</h3>
				</td>
				<td>
					<a class="underline" href="mailto:postool-sph@uwa.edu.au?Subject=POS%20Tool">postool-sph@uwa.edu.au</a>
				</td>
			</tr>
			<tr>
				<td style="vertical-align:top;">
					<h3>Blog:</h3>
				</td>
				<td>
					Visit our blog:<a class="underline" href="http://positiveplaces.blogspot.com.au"> http://positiveplaces.blogspot.com.au</a>
				</td>
			</tr>
			<tr>
				<td style="vertical-align:top;">
					<h3>Facebook:</h3>
				</td>
				<td style="padding-top:18px">
					Search "POS Tool" or visit <br><a class="underline" href="http://www.facebook.com/PublicOpenSpaceTool">http://www.facebook.com/PublicOpenSpaceTool</a>
				</td>
			</tr>
			<tr>
				<td style="vertical-align:top;">
					<h3>Website:</h3>
				</td>
				<td style="padding-top:18px">
					For further information on our work, please visit:<br> <a class="underline" href="http://www.sph.uwa.edu.au/research/cbeh">http://www.sph.uwa.edu.au/research/cbeh</a>
				</td>
			</tr>
			<tr>
				<td style="vertical-align:top;">
					<h3>Citation:</h3>
				</td>
				<td style="padding-top:18px">
					<p>If you make use of POS Tool in your research or policy planning, please cite:</p>
					<p>Centre for the Build Environment and Health (2013). Public Open Space (POS) Geographic Information System (GIS) layer.  University of Western Australia. 
					http://researchdata.ands.org.au/Public-open-space-pos-geographic-information-system-gis-layer</p>
					<p>Centre for the Build Environment and Health (2013). Geo-Spatial Analytic Tool for public open spaces.  University of Western Australia. 
					http://www.postool.com.au</p>
				</td>
			</tr>
				<tr>
				<td style="vertical-align:top;">
					<h3>Feedback:</h3>
				</td>
				<td style="padding-top:18px">
					<p>We are continually striving to improve and update POS Tool.  However, if you've spotted a mistake in our data or think we can improve POS Tool please let us know.</p>
				</td>
			</tr>
		</table>
		
		
		
	</div>

{% endblock content %}