{% extends "pos/base.html" %}

{% load staticfiles %}


{% block head %}
    
{% endblock head %}


{% block content %}

	<!-- Area Container -->
	<div id = "home_container">
	
		<h2>Research and Publications</h2> 

		<p class="greenHue">Links to our research publications investigating the benefits of parks and public open spaces for physical activity and mental health are provided below.</p>

		<ol class="reference">
			<li>
				Francis J, Giles-Corti B, Wood L, Knuiman M.  Creating Sense of Community: The role of public space.  Journal of Environmental Psychology. 2012;32:401-9.<br> 
				<a class="underline" href="http://www.sciencedirect.com/science/article/pii/S0272494412000461">http://www.sciencedirect.com/science/article/pii/S0272494412000461</a>
			</li>
			<li>
				Francis J, Wood L, Knuiman M, Giles-Corti B. Quality or Quantity? Exploring the relationship between public open space attributes and mental health in Perth, Western Australia.  Social Science & Medicine 2012;74(10):1570-7.<br>
				<a class="underline" href="http://www.sciencedirect.com/science/article/pii/S0277953612001633">http://www.sciencedirect.com/science/article/pii/S0277953612001633</a>
			</li>
			<li>
				Sugiyama T, Francis J, Middleton N, Owen N, Giles-Corti B.  Associations of Attractiveness, Size, and Proximity of Multiple Neighborhood Open Spaces with Recreational Walking. American Journal of Public Health. 2010;100(9):1752-57.
				<br><a class="underline" href="http://ajph.aphapublications.org/doi/abs/10.2105/AJPH.2009.182006?url_ver=Z39.88-2003&rfr_id=ori:rid:crossref.org&rfr_dat=cr_pub%3dpubmed">http://ajph.aphapublications.org/doi/abs/10.2105/AJPH.2009.182006?url_ver=Z39.88-2003&rfr_id=ori:rid:crossref.org&rfr_dat=cr_pub%3dpubmed</a>
			</li>
			<li>
				Sugiyama T, Leslie E, Giles-Corti B, Owen N.  Associations of neighbourhood greenness with physical and mental health: Do walking, social coherence and local social interaction explain the relationships?  Journal of Epidemiology and Community Health 2008;62:e9.<br> 
				<a class="underline" href="http://jech.bmj.com/content/62/5/e9.abstract">http://jech.bmj.com/content/62/5/e9.abstract</a>
			</li>
		</ol>
	</div>

{% endblock content %}